// General reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffeeee;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff885, #e89417);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #fff885,
        #e89417
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
