@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");

:root {
    --bg-color-container: #fffffa;
    --color-primary: #ffb725;
    --color-primary-dark: #e88c17;
    --color-primary-light: #fff8e9;
    --color-primary-lighttint: #ffe119;
    --color-grey-light: #e5e5e5;
    --color-grey-light-1: #bdc1c5;
    --font-default: "Roboto", sans-serif;
    --font-heading-1: "Nunito", sans-serif;
}
