// Component
.expenseForm {
    grid-area: expense;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        width: 70%;
        margin: 0.8rem 0;
    }

    &__add {
        width: 75%;
        border-top: 1px solid var(--color-primary);
        // Temporary
        box-shadow: inset 0px 2px 0.5px var(--color-primary-dark);
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding-top: 1.2rem;

        label {
            font-family: "Nunito", sans-serif;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
    }

    &__input {
        padding: 0.5rem 0;
        margin-bottom: 1rem;
        background-color: var(--color-grey-light);
        outline: none;
        border: none;
        border-radius: 3px;
        &::placeholder {
            font-style: italic;
            color: var(--color-grey-light-1);
            margin: 0 0.5rem;
        }
        &:active {
            background-color: var(--color-grey-light);
        }
    }
}
