.history {
    grid-area: history;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 1.4rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 75%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 1.6rem;
        background-color: var(--color-grey-light);
        padding: 1rem 1rem;
        border-radius: 3px;
    }

    &__item:hover > p .btn--delete,
    .btn--delete:hover {
        opacity: 1;
    }

    &__text {
        align-self: center;
        display: flex;
        align-items: center;
        &--amount {
            margin-right: 1rem;
        }
    }
    &__icon {
        height: 20rem;
        width: 20rem;
        align-self: center;
        justify-self: center;
        &--remove {
            align-self: center;
            height: 2rem;
            width: 2rem;
        }
    }
}
